*{
    font-family: 'Open Sans', sans-serif;
}
.logo{
    width: 60px;
}
.fijo{
    width: 50px;
    height: 170px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    left: 0.3%;
    top: 16%;
    border-radius: 10px;
}
.bi{
    color: whitesmoke;
    margin-left: 20%;
    margin-top: 20%;
}
.imgcarru{
    width: 100%;
    height: 650px;
    object-fit: fill;
}
.imgpie{
    width: 10%;
}
.contenedor{
    width: 100%;
    display: flex;
    margin-bottom: 0%;
    padding: 0%;
    flex-direction: row;
    justify-content: space-evenly;
}
.itempie{
    padding-top: 1%;
    font-weight: bold;
    font-size: medium;
}
.footer{
    background-color:  rgb(219, 219, 219);
    margin-bottom: 0%;

}
.contdescripcion{
    margin-top: 1%;
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: larger;

}
.imgdescripcion{
    width: 100%;
}
.titudes{
    margin-top: 5%;
    width: 100%;
    padding-left: 5%;
}
.imgcard{
    height: 200px;
}
.imgart{
    width: 100%;
    height: 350px;
    object-fit: fill;
}
.ul{
    list-style: none;

}
.itempie a{
    text-decoration: none;
    color: black;
}
#banner{
    width: 100%;
    height: 350px;
    background-size: cover;
    background-image: linear-gradient(rgba(99, 99, 99, 0.7),rgba(0, 0, 0, 0.7)),url(img/consolas.png);
}
#bannerj{
    width: 100%;
    height: 350px;
    background-size: cover;
    background-image: linear-gradient(rgba(143, 143, 143, 0.7),rgba(0, 0, 0, 0.7)),url(img/game.webp);
}
.imgconsolas{
    width: 20%;
    padding: 0%;
    margin-bottom: 5%;
}
.imgconsolas:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.cont{
    width: 100%;
}
.noti1{
    width: 50%;
    height: 350px;
    background-size: cover;
    background-image: linear-gradient(rgba(54, 54, 54, 0.7),rgba(0, 0, 0, 0.7)),url(img/noti1.avif);

}
.noti2{
    width: 50%;
    height: 350px;
    border-right: 10px solid white ;
    background-size: cover;
    background-image: linear-gradient(rgba(54, 54, 54, 0.7),rgba(0, 0, 0, 0.7)),url(img/noti2.webp);

}
.noti3{
    width: 50%;
    height: 350px;
    background-size: cover;
    background-image: linear-gradient(rgba(54, 54, 54, 0.7),rgba(0, 0, 0, 0.7)),url(img/noti3.jpg);
}
.noti3:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.noti2:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.noti1:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.pj1{
    width: 50%;
    height: 350px;
    border-right: 10px solid white ;
    background-size: cover;
    background-image: linear-gradient(rgba(54, 54, 54, 0.7),rgba(0, 0, 0, 0.7)),url(img/noti2.webp);

}
.imgcard2{
    height: 300px;
}




@media screen and (max-width:768px) {
    .imgconsolas{
        width: 100%;
    }
    .imgconsolas:hover{
        box-shadow: none;
    }

}
@media screen and (max-width:576px) {
    .imgconsolas{
        display: none;
    }
    .imgconsolas:hover{
        box-shadow: none;
    }

}

